appdirs
astroid
certifi
Click
distlib
filelock
Flask
Flask-Cors
Flask-Login
Flask-MySQL
Flask-MySQLdb
Flask-WTF
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysqlclient
pylint
PyMySQL
six
virtualenv
Werkzeug
wrapt
WTForms
requests